<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Insurance
      </ion-title>
      <ion-buttons start>
        <button ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon> Anterior</button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-right (click)="next()">Próximo <ion-icon name="arrow-forward"></ion-icon></button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides #signupSlider pager>

<ion-slide>

  <ion-list no-lines>

      <form [formGroup]="slideTwoForm">
        <ion-item>
            <ion-label floating>É um seguro novo ou renovação ?</ion-label>
            <ion-select [class.invalid]="!slideTwoForm.controls.tipo.valid && (slideTwoForm.controls.tipo.dirty || submitAttempt)" formControlName="tipo">
              <ion-option value="1">Seguro novo</ion-option>
              <ion-option value="2">Renovação de seguro</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label floating>O seguro é para sua casa ou sua empresa ?</ion-label>
            <!--<ion-select multiple="true">-->
                <ion-select>
              <ion-option value="1">Para minha casa</ion-option>
              <ion-option value="2">Para minha empresa</ion-option> 
            </ion-select>
        </ion-item>

          <!-- <ion-item>
              <ion-label floating>Username</ion-label>
              <ion-input [class.invalid]="!slideTwoForm.controls.username.valid && (slideTwoForm.controls.username.dirty || submitAttempt)" formControlName="username" type="text"></ion-input>
          </ion-item>

          <ion-item *ngIf="slideTwoForm.controls.username.pending">
              <p>Checking username...</p>
          </ion-item>

          <ion-item *ngIf="!slideTwoForm.controls.username.valid && !slideTwoForm.controls.username.pending && (slideTwoForm.controls.username.dirty || submitAttempt)">
              <p>Sorry, that username can not be used!</p>
          </ion-item>



          <ion-item>
              <ion-label floating>Bio</ion-label>
              <ion-textarea formControlName="bio"></ion-textarea>
          </ion-item> -->

      </form>

  </ion-list>
    


</ion-slide>
<ion-slide>
  <!--<ion-item>
    <ion-label class="info"><ion-icon name="contact" class="infoicon"></ion-icon>1310 - DAVID OLIVEIRA DE ALVARENGA</ion-label>
  </ion-item>-->

  <p *ngIf="submitAttempt" style="color: #ea6153;">Preencha as informações corretamente.</p>

  <ion-list no-lines>

      <form [formGroup]="slideOneForm">
            <ion-item>
            <ion-label floating>É um apartamento ou uma casa ?</ion-label>
            <ion-select >
              <ion-option value="1">Apartamento</ion-option>
              <ion-option value="2">Casa</ion-option>
            </ion-select>
        </ion-item>
          <ion-item>
              <ion-label floating>Qual o valor de cobertura deseja contratar?</ion-label>
              <ion-input formControlName="nome" type="text" [class.invalid]="!slideOneForm.controls.nome.valid && (slideOneForm.controls.nome.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item *ngIf="!slideOneForm.controls.nome.valid  && (slideOneForm.controls.nome.dirty || submitAttempt)">
            <p>Informe um valor válido.</p>
          </ion-item>
          

          <!--<ion-item>
              <ion-label floating>CPF/CNPJ</ion-label>
              <ion-input formControlName="nome" type="text" ></ion-input>
          </ion-item>

          <ion-item>
              <ion-label floating>Registro</ion-label>
              <ion-input formControlName="nome" type="text" ></ion-input>
          </ion-item>-->
          <!-- <ion-item>
              <ion-label class="info">Aceita algum convênio ?</ion-label>
              <ion-toggle checked="false"></ion-toggle>
          </ion-item>
          <ion-item>
              <ion-label class="info">Atende via chat ?</ion-label>
              <ion-toggle checked="false"></ion-toggle>
          </ion-item> -->
          <!-- <ion-item>
              <ion-label floating>Age</ion-label>
              <ion-input formControlName="age" type="number" [class.invalid]="!slideOneForm.controls.age.valid && (slideOneForm.controls.age.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.age.valid  && (slideOneForm.controls.age.dirty || submitAttempt)">
              <p>Please enter a valid age.</p>
          </ion-item> -->

      </form>

  </ion-list>

</ion-slide>

<ion-slide>
  <ion-list no-lines>
      <form [formGroup]="slideThreeForm">
          <ion-item>
              <ion-label class="configs">Possui algo como alarme ou cerca elétrica ? 
</ion-label>
              <ion-toggle checked="false"></ion-toggle>
          </ion-item>
          <ion-item>
              <ion-label class="configs">Quer adicionar seguro contra danos elétricos ?</ion-label>
              <ion-toggle checked="false"></ion-toggle>
          </ion-item>
          <ion-item>
              <ion-label class="configs">Quer adicionar assistência residencial 24 horas ?</ion-label>
              <ion-toggle checked="false"></ion-toggle>
          </ion-item>
          <!-- <ion-item>
              <ion-label floating>Age</ion-label>
              <ion-input formControlName="age" type="number" [class.invalid]="!slideOneForm.controls.age.valid && (slideOneForm.controls.age.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.age.valid  && (slideOneForm.controls.age.dirty || submitAttempt)">
              <p>Please enter a valid age.</p>
          </ion-item> -->

      </form>

  </ion-list>
  <button ion-button full color="primary" (click)="save()">Simular !</button>

</ion-slide>


</ion-slides>
</ion-content>
